{
    "extends": "./../../.eslintrc",
    "env": {
        "browser": false
    },
    "parserOptions": {
        "project": "src/server/tsconfig.json"
    },
    "rules": {
        "boilerplate/no-invalid-common-import": [
            "error"
        ]
    }
}