{
    "extends": [
        "@commitlint/config-conventional"
    ],
    "rules": {
        "references-empty": [
            2,
            "never"
        ],
        "scope-enum": [
            2,
            "always",
            [
                "server",
                "common",
                "client",
                "app",
                "fullstack",
                "android",
                "ios",
                "web",
                "model",
                "view",
                "controller",
                "component",
                "config",
                "lib",
                "locale",
                "util",
                "route",
                "attribute",
                "type",
                "lint",
                "dependencies"
            ]
        ]
    }
}
