{
    "env": {
        "browser": true,
        "node": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:vue/vue3-essential",
        "@vue/typescript/recommended",
        "plugin:import/recommended"
    ],
    "plugins": [
        "boilerplate",
        "@typescript-eslint"
    ],
    "parser": "vue-eslint-parser",
    "overrides": [
        {
            "env": {
                "mocha": true
            },
            "files": [
                "**/__tests__/*.{j,t}s?(x)",
                "**/tests/unit/**/*.spec.{j,t}s?(x)"
            ]
        }
    ],
    "parserOptions": {
        "parser": {
            "ts": "@typescript-eslint/parser",
            "js": "@typescript-eslint/parser"
        },
        "ecmaVersion": 2020,
        "project": "./tsconfig.json"
    },
    "root": true,
    "rules": {
        "@typescript-eslint/ban-types": [
            "error",
            {
                "types": {
                    "any": "use unknown instead"
                }
            }
        ],
        "@typescript-eslint/consistent-type-imports": [
            "error",
            {
                "prefer": "type-imports"
            }
        ],
        "@typescript-eslint/member-ordering": "error",
        "@typescript-eslint/explicit-member-accessibility": "error",
        "@typescript-eslint/indent": [
            "error",
            4
        ],
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-inferrable-types": "off",
        "@typescript-eslint/no-unused-vars": [
            "warn",
            {
                "argsIgnorePattern": "^_"
            }
        ],
        "@typescript-eslint/no-use-before-define": [
            "error",
            {
                "functions": false,
                "ignoreTypeReferences": true
            }
        ],
        "@typescript-eslint/restrict-plus-operands": "error",
        "@typescript-eslint/unbound-method": "error",
        "arrow-spacing": [
            "error",
            {
                "after": true,
                "before": true
            }
        ],
        "boilerplate/no-invalid-common-import": "error",
        "camelcase": "error",
        "comma-dangle": [
            "error",
            "never"
        ],
        "curly": [
            "error",
            "multi-line"
        ],
        "dot-notation": "error",
        "guard-for-in": "error",
        "import/named": "off",
        "import/newline-after-import": "error",
        "import/no-absolute-path": "error",
        "import/no-relative-packages": "error",
        "import/no-useless-path-segments": [
            "error",
            {
                "noUselessIndex": true
            }
        ],
        "import/order": [
            "error",
            {
                "pathGroups": [
                    {
                        "pattern": "reflect-metadata",
                        "group": "external",
                        "position": "before"
                    }
                ],
                "pathGroupsExcludedImportTypes": [
                    "reflect-metadata"
                ],
                "groups": [
                    "builtin",
                    "external",
                    "internal",
                    "parent",
                    "sibling",
                    "index",
                    "object",
                    "type"
                ],
                "alphabetize": {
                    "order": "asc", /* sort in ascending order. Options: ['ignore', 'asc', 'desc'] */
                    "caseInsensitive": false /* ignore case. Options: [true, false] */
                }
            }
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "no-console": "off",
        "no-debugger": "off",
        "no-trailing-spaces": "error",
        "no-use-before-define": "off",
        "semi": [
            "error",
            "always"
        ],
        "semi-spacing": [
            "error",
            {
                "after": true,
                "before": false
            }
        ],
        "strict": [
            "error",
            "global"
        ],
        "vue/comma-dangle": [
            "error",
            "never"
        ],
        "vue/html-indent": [
            "error",
            4,
            {
                "alignAttributesVertically": true,
                "attribute": 1,
                "baseIndent": 1,
                "closeBracket": 0,
                "ignores": []
            }
        ],
        "vue/no-deprecated-slot-attribute": "off"
    },
    "settings": {
        "import/parsers": {
            "@typescript-eslint/parser": [
                ".ts",
                ".tsx"
            ]
        },
        "import/resolver": {
            "typescript": {
                "alwaysTryTypes": true, // always try to resolve types under `<root>@types` directory even it doesn't contain any source code, like `@types/unist`
                // use an array
                "project": [
                    "src/client/tsconfig.json",
                    "src/server/tsconfig.json",
                    "tests/unit/client/tsconfig.json",
                    "dev/eslint-plugin-boilerplate/tsconfig.json"
                ]
            }
        }
    }
}
