<ion-page>
    <ion-header :translucent="true">
        <ion-toolbar>
            <ion-title>Blank</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content :fullscreen="true">
        <ion-header collapse="condense">
            <ion-toolbar>
                <ion-title size="large">Blank</ion-title>
            </ion-toolbar>
        </ion-header>

        <div id="container">
            <strong @click="changeLanguage(this.lngChange % 2 ? 'en-us' : 'de-de')">
                {{ this.translate("hello") }} {{ this.translate("world") }}!
                {{ this.translate("test") }} <br />
            </strong>
            <strong>Ready to create an app with the model named {{ model.name }}?</strong>
            <p>Start with Ionic <a target="_blank" rel="noopener noreferrer"
                    href="https://ionicframework.com/docs/components">UI Components</a></p>
            <div v-for="item of model.anotherExampleCommon">{{ item }}</div>
        </div>
    </ion-content>
</ion-page>
