{
    "extends": [
        "../../.eslintrc"
    ],
    "env": {
        "cypress/globals": true,
        "mocha": true
    },
    "parserOptions": {
        "project": "tests/e2e/tsconfig.json"
    },
    "plugins": [
        "cypress"
    ],
    "rules": {
        "strict": "off"
    }
}