#container {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);

    text-align: center;
}

#container strong {
    font-size: 1.25em;
    line-height: 1.625em;
}

#container p {
    margin: 0;

    font-size: 1em;
    line-height: 1.375em;
    color: #8c8c8c;
}

#container a {
    text-decoration: none;
}
