{
    "extends": "./../../.eslintrc",
    "parserOptions": {
        "project": "src/common/tsconfig.json"
    },
    "rules": {
        "boilerplate/prefer-env-import": [
            "error",
            {
                "checkEnvironmentsBasePaths": [
                    {
                        "name": "~client",
                        "path": "./src/client"
                    },
                    {
                        "name": "~server",
                        "path": "./src/server"
                    }
                ]
            }
        ]
    }
}